<table>
	<tr>
		<td>Name:</td>
		<td><%= f.text_field(:name) %> </td>
	</tr>
	<tr>
		<td>Position</td>
		<td> <%= f.text_field(:position) %> </td>
	</tr>
	<tr>
		<td>Visible:</td>
		<td><%= f.text_field(:visible) %></td>
	</tr>
</table>