

<h1>Subjects#show</h1>

<table>
	<tr>
	<td><strong>Name</strong></td>
	<td><%= @subject.name %></td>
	</tr>
	<tr>
	<td><strong>Position</strong></td>
	<td><%= @subject.position %></td>
	</tr>
	<tr>
	<td><strong>Visible</strong></td>
	<td><%= @subject.visible %></td>
	</tr>

</table>
